// ----------------------- //
//      Custom Styles      //
// ----------------------- //

@forward '../bootstrap/bootstrap.scss';
@use 'sass:color';
// -- Variable -- //

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$brand-color: #ff99ad;
$bg-color: #f8f8f8;

input,
textarea {
  &:focus {
    outline: $brand-color 1px auto;
  }
}


.btn {
  border: none;

  &-primary {
    background-color: $brand-color;

    &:hover,
    &:focus {
      background-color: darken($brand-color, 15%);
    }

    &:active {
      background-color: adjust-color($brand-color, $saturation: 70%) !important;
    }
  }

  &-secondary {
    background: none;
    border: 2px solid $brand-color;
    color: #454545;

    &:hover,
    &:focus {
      background-color: adjust-color($brand-color, $alpha: -0.7);
      border-color: adjust-color($brand-color, $alpha: -0.5);
      color: inherit;
    }
  }
}

.location-search {
  outline: lighten($brand-color, 10%) 2px auto;

  &:focus {
    outline: $brand-color 4px auto;
  }
}

.location-input-icn {
  position: absolute;
  top: 12px;
  right: 24px;
  width: 20px;
}

.contact-form {
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    position: absolute;
  }

  @media (min-width: 576px) {
    &:before {
      content: url(images/png/cat1.png);
      top: -98px;
      left: -25px;
      z-index: -1;
    }

    &:after {
      content: url(images/png/cat2.png);
      bottom: -29px;
      right: -9px;
    }
  }

  @media (min-width: 768px) {
    &:before {
      top:-100px;
      left: -60px;
    }

    &:after {
      right: -104px;
    }
    
  }
  
}
